<label>
  <input
    type="file"
    accept=".csv"
    class="text-nowrap text-truncate"
    (change)="selectFile($event)"
  />
</label>

<button
mat-button
  class="btn btn-success btn-sm"
  [disabled]="!selectedFiles"
  (click)="upload()"
  #action
>
  Upload
</button>
<div *ngIf="formatError" style="margin-top: 8px; color: red;">
  <label>Incorrect file format</label>
</div>

<div *ngIf="currentFileUpload" class="progress mt-2">
  <div
    class="progress-bar progress-bar-info"
    role="progressbar"
    aria-valuemin="0"
    aria-valuemax="100"
    [ngStyle]="{ width: percentage + '%' }"
  >
    {{ percentage }}%
  </div>
</div>
